
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container-fluid">
<h4>Escolha a opção desejada:</h4>

<a href="/Cliente/Cadastro" class="btn btn-info">Cadastrar Clientes</a>
<br />
<br />
<a href="/Cliente/Consulta" class="btn btn-info">Consultar Clientes</a>

</div>

