
@model List<Projeto.Presentation.Models.ClienteConsultaViewModel>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consultar clientes cadastrados</h4>

<a href="/Home/Index" class="btn btn-info">voltar para página inicial</a>
<br />
<br />

<table class="table table-striped">
    <thead>
        <!-- cabeçalho -->
        <tr>
            <!-- linha -->
            <th>Código</th>
            <th>Nome do Cliente</th>
            <th>Email</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <!-- corpo -->
        @foreach (var c in Model)
        {
        <tr>
            <!-- linha -->
            <td> @c.IdCliente </td>
            <td> @c.Nome </td>
            <td> @c.Email</td>
           
            <td>
                <a href="/Cliente/Edicao?id=@c.IdCliente" class="btn btn-primary">Atualizar</a>
                <a href="/Cliente/Exclusao?id=@c.IdCliente" class="btn btn-danger">Excluir</a>

            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"> 
                Quantidade de Clientes: @Model.Count

            </td>
        </tr>
    </tfoot>
</table>
